<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	
	<filter>
		<filter-name>SetAllCharacterEncodingFilter</filter-name>
		<filter-class>com.gongxm.filter.SetAllCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetAllCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	<filter>
		<filter-name>AutoLoginFilter</filter-name>
		<filter-class>com.gongxm.filter.AutoLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AutoLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>IndexFilter</filter-name>
		<filter-class>com.gongxm.filter.IndexFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>IndexFilter</filter-name>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>IndexFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>IndexFilter</filter-name>
		<url-pattern>/index.html</url-pattern>
	</filter-mapping>





	<filter>
		<filter-name>AdminFilter</filter-name>
		<filter-class>com.gongxm.filter.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/admin</url-pattern>
	</filter-mapping>



	<filter>
		<filter-name>DirtyWordsFilter</filter-name>
		<filter-class>com.gongxm.filter.DirtyWordsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DirtyWordsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>HtmlFilter</filter-name>
		<filter-class>com.gongxm.filter.HtmlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HtmlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	<filter>
		<filter-name>PermissionFilter</filter-name>
		<filter-class>com.gongxm.filter.PermissionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PermissionFilter</filter-name>
		<url-pattern>/list.jsp</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PermissionFilter</filter-name>
		<url-pattern>/detail.jsp</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>





	<filter>
		<filter-name>GzipFilter</filter-name>
		<filter-class>com.gongxm.filter.GzipFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GzipFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GzipFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GzipFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GzipFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>


	<servlet>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>com.gongxm.web.controller.RegistServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.gongxm.web.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.gongxm.web.controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowList</servlet-name>
		<servlet-class>com.gongxm.web.controller.ShowList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>com.gongxm.web.controller.UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>com.gongxm.web.controller.Download</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KitUser</servlet-name>
		<servlet-class>com.gongxm.web.controller.KitUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Detail</servlet-name>
		<servlet-class>com.gongxm.web.controller.Detail</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UploadZip</servlet-name>
		<servlet-class>com.gongxm.web.controller.UploadZip</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>Unzip</servlet-name>
		<servlet-class>com.gongxm.web.controller.Unzip</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UpdataImages</servlet-name>
		<servlet-class>com.gongxm.web.controller.UpdataImages</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UrlDownload</servlet-name>
		<servlet-class>com.gongxm.web.controller.UrlDownload</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>Reset</servlet-name>
		<servlet-class>com.gongxm.web.controller.Reset</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ClearDB</servlet-name>
		<servlet-class>com.gongxm.web.controller.ClearDB</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>GetImages</servlet-name>
		<servlet-class>com.gongxm.web.controller.GetImages</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AppGetImgList</servlet-name>
		<servlet-class>com.gongxm.web.controller.AppGetImgList</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.gongxm.utils.Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getMenus</servlet-name>
    <servlet-class>com.gongxm.web.controller.getMenus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditMenus</servlet-name>
    <servlet-class>com.gongxm.web.controller.EditMenus</servlet-class>
  </servlet>




















	<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/servlet/RegistServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/servlet/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowList</servlet-name>
		<url-pattern>/servlet/ShowList</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/servlet/UpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/servlet/Download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KitUser</servlet-name>
		<url-pattern>/servlet/KitUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Detail</servlet-name>
		<url-pattern>/servlet/Detail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadZip</servlet-name>
		<url-pattern>/servlet/UploadZip</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Unzip</servlet-name>
		<url-pattern>/servlet/Unzip</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdataImages</servlet-name>
		<url-pattern>/servlet/UpdataImages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UrlDownload</servlet-name>
		<url-pattern>/servlet/UrlDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Reset</servlet-name>
		<url-pattern>/servlet/Reset</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClearDB</servlet-name>
		<url-pattern>/servlet/ClearDB</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetImages</servlet-name>
		<url-pattern>/servlet/GetImages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AppGetImgList</servlet-name>
		<url-pattern>/servlet/AppGetImgList</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/servlet/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getMenus</servlet-name>
    <url-pattern>/servlet/getMenus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditMenus</servlet-name>
    <url-pattern>/servlet/EditMenus</url-pattern>
  </servlet-mapping>

</web-app>